* {
  box-sizing: border-box;
}

body {
  background: rgb(132, 46, 166);
  background: linear-gradient(
    90deg,
    rgba(132, 46, 166, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
